{% extends "program/base.html" %}
{% block content %}
<style>
    #card-wrapper {
        padding: 15px;
        box-sizing: border-box;
    }
    .session-header>h6 {
        margin-bottom: 0;
    }
</style>
<div id="card-wrapper">
    <div class="card">
        <div class="card-header session-header">
            <h6>Featured</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
