{% extends "program/base.html" %}
{% block content %}
<style>
    body { padding: 30px 3%; }
    .card { margin: 30px auto; }
    .card-body { padding: 0.5rem; }
    .new-program {
        margin-top: 0; 
        background: #ffb;
    }
    .program .title {
        font-weight: bold;
    }
    .card-header {
        padding: 0;
    }
    .card-header div {
        float: left;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .program_number { width: 30%; background: #666; }
    .session_category { width: 70%; }
    .session_category[name=Technical] { background: #c00; }
    .session_category[name=WiP] { background: #0a0; }
    .session_category[name=Short] { background: #aa0; }
    .clear { clear: both; }
    .voter {
        width: 95%;
        margin: 10px auto 0px auto;
        font-size: 1.1em;
    }
    .voter_each {
        float: left;
        width: 33.3%;
        text-align: center;
    }
    .voter_each label {
        width: 80%;
        margin: 10px auto;
        height: 40px;
        line-height: 25px;
    }
    .voter .recommend {
        float: right;
        font-size: 0.6em;
    }
    .voter .not_recommend {
        float: left;
        font-size: 0.6em;
    }
    .btn:not(:disabled):not(.disabled) {
        color: #000;
        cursor: pointer;
        background: #fff;
    }
    .voter input[type=radio] {
        display: none;
    }
</style>
{% if new_program %}
<b>Just added:</b>
<div class="card new-program">
    <div class="card-header">
        <div class="program_number">{{ new_program.session_number }}-{{ new_program.program_number }}</div>
        <div class="session_category" name="{{ new_program.session_category }}">{{ new_program.session_category }}</div>
        <div class="clear"></div>
    </div>
    <div class="card-body program">
        <div class="title">{{ new_program.title }}</div>
        <div class="authors">
            <u>{{ new_program.presenter }}</u>
            {% for co_presenter in new_program.co_presenters %}
            , {{ co_presenter }}
            {% endfor %}
        </div>
        <div class="voter" name="vote-{{ new_program.id }}">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width:100%">
                {% for i in loop_range %}
                <div class="voter_each"><label class="btn btn-outline-secondary {% if i == new_program.point %}active{% endif %}" onclick="vote({{ new_program.id }},{{i}});"><input type="radio" name="hoge" autocomplete="off" value="{{i}}"><i class="far fa-thumbs-up"></i> +{{i}}</label></div>
                {% endfor %}
                <div class="clear"></div>
            </div>
            Visited at {{ new_program.time_created }}
        </div>
    </div>
</div>
{% else %}
    {% if programs|length == 0 %}
    No program found on your list. Let's go scan your first QR code! :)
    {% endif %}
{% endif %}

{% if programs|length %}
Sort by:
<select id="sort_order" class="form-control" style="width:100%;">
    <option value="desc">Visit time (newest first)</option>
    <option value="asc">Visit time (oldest first)</option>
</select>
{% endif %}

{% for program in programs %}
<div class="card program">
    <div class="card-header">
        <div class="program_number">{{ program.session_number }}-{{ program.program_number }}</div>
        <div class="session_category" name="{{ program.session_category }}">
            {{ program.session_category }}
        </div>
        <div class="clear"></div>
    </div>
    <div class="card-body program">
        <div class="title">{{ program.title }}</div>
        <div class="authors">
            <u>{{ program.presenter }}</u>
            {% for co_presenter in program.co_presenters %}
            , {{ co_presenter }}
            {% endfor %}
        </div>
        <div class="voter" name="vote-{{ program.id }}">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width:100%">
                {% for i in loop_range %}
                <div class="voter_each">
                    <label class="btn btn-outline-secondary {% if i == program.point %}active{% endif %}" onclick="vote({{ program.id }},{{i}});">
                        <input type="radio" name="hoge" autocomplete="off" value="{{i}}">
                        <i class="far fa-thumbs-up"></i> +{{i}}
                    </label>
                </div>
                {% endfor %}
                <div class="clear"></div>
            </div>
            <div style="width:100%;text-align:right;font-style:italic;font-size:0.7em;">Visited at <b>{{ program.time_created }}</b></div>
        </div>
    </div>
</div>
{% endfor %}

<script>
var getUrlVars = function(){
    var vars = {}; 
    var param = location.search.substring(1).split('&');
    for(var i = 0; i < param.length; i++) {
        var keySearch = param[i].search(/=/);
        var key = '';
        if(keySearch != -1) key = param[i].slice(0, keySearch);
        var val = param[i].slice(param[i].indexOf('=', 0) + 1);
        if(key != '') vars[key] = decodeURI(val);
    } 
    return vars; 
}

var vote = function(program_id,point){
    $.get({
        "url": "/operation/vote/"+program_id+"/"+point
    });
};
$("#sort_order").on("change", function(){
    var value = $(this).val();
    window.location.href = "/program_history/?sort_order="+value;
});

var vars = getUrlVars();
if(vars["sort_order"]) $("#sort_order").val(vars["sort_order"]);
</script>
{% endblock %}
