{% extends "program/base.html" %}
{% block content %}
<style>
    #card-wrapper {
        padding: 15px;
        box-sizing: border-box;
    }
    .session-header>h6 {
        margin-bottom: 0;
    }
</style>
<select id="labs" class="form-control" style="width:auto; min-width:30%;">
    <option value="">-- 研究室選択 --</option>
    <option value="Ishikawa">石川研</option>
    <option value="Ogawa">小川研</option>
    <option value="Katto">甲藤研</option>
    <option value="Kobayashi">小林研</option>
    <option value="Sakai">酒井研</option>
    <option value="Shimizu">清水研</option>
    <option value="Nakajima">中島研</option>
    <option value="Yamana">山名研</option>
</select>
<br>
<table class="table" style="background:white;width:150%;">
    <tr>
        <th scope="col">#</th>
        <th scope="col">研究室</th>
        <th scope="col">学年</th>
        <th scope="col">姓</th>
        <th scope="col">名</th>
        <th scope="col">姓(英)</th>
        <th scope="col">名(英)</th>
        <th scope="col">懇親会参加</th>
        <th scope="col">発表</th>
        <th scope="col">セッション区分</th>
        <th scope="col">表題</th>
        <th scope="col">テーブルの有無</th>
        <th scope="col">セッション番号</th>
        <th scope="col">プログラム番号</th>
    </tr>
{% for program in programs %}
    <tr>
        <th scope="row">{{ program.id }}</th>
        <td>{{ program.laboratory }}</td>
        <td>{{ program.grade }}</td>
        <td>{{ program.surname }}</td>
        <td>{{ program.givenname }}</td>
        <td>{{ program.surname_en }}</td>
        <td>{{ program.givenname_en }}</td>
        <td>{{ program.party_attendance }}</td>
        <td>{{ program.is_presenter }}</td>
        {% if program.is_presenter == "Yes" %}
        <td>{{ program.session_category }}</td>
        <td>{{ program.title }}</td>
        <td>{{ program.require_table }}</td>
        <td>{{ program.session_number }}</td>
        <td>{{ program.program_number }}</td>
        {% else %}
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% endif %}
    </tr>
{% endfor %}
</table>
<!-- <div id="card-wrapper">
    <div class="card">
        <div class="card-header session-header">
            <h6>Featured</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
            <li class="list-group-item">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </li>
        </ul>
    </div>
</div> -->
<script>
var getUrlVars = function(){
    var vars = {}; 
    var param = location.search.substring(1).split('&');
    for(var i = 0; i < param.length; i++) {
        var keySearch = param[i].search(/=/);
        var key = '';
        if(keySearch != -1) key = param[i].slice(0, keySearch);
        var val = param[i].slice(param[i].indexOf('=', 0) + 1);
        if(key != '') vars[key] = decodeURI(val);
    } 
    return vars; 
}
    $("#labs").val(getUrlVars()["laboratory"]);
    $("#labs").on("change", function(){
        window.location.href = "./?laboratory="+$(this).val();
    });
//    $.get({
//        "url": "../operation/registration_list/?laboratory=Ogawa",
//        "success": function(data){
//            console.log(data);
//        }
//    });
</script>
{% endblock %}
