{% extends "program/base.html" %}
{% block content %}
<style>
    #title {
        margin: 50px 0 30px 0;
        text-align: center;
    }
    .caption {
        margin: 5px 0;
        font-weight: bold;
    }
    #btn-register {
        margin: 30px auto;
        width: 30%;
        height: 50px;
        display: block;
    }
</style>
<h2 id="title">CSSW{{ settings.YEAR }}<br>
{{ mode|yesno:"Registration Edit Form,Registration Form" }}
</h2>
<form method="post" action="../operation/registration/">
    <div class="card">
        <div class="card-body">
            <ul style="-webkit-padding-start:20px;margin-bottom:0;">
                {% if mode != "edit" %}
                <li>登録内容の修正には<a href="../login/?mode=reg">ログイン</a>してください。 Please <a href="../login/?mode=reg">log in</a> to edit your information.</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <ul style="-webkit-padding-start:20px;margin-bottom:0;">
                <li>不明な点があれば{{ settings.COMMITTEE_CHAIR.lab }}研{{ settings.COMMITTEE_CHAIR.grade }}{{ settings.COMMITTEE_CHAIR.name }}までご連絡ください。 Please contact {{ settings.COMMITTEE_CHAIR.name_en }} ({{ settings.COMMITTEE_CHAIR.grade }}, {{ settings.COMMITTEE_CHAIR.lab_en }} Lab.) for questions. (Email: <a href="mailto:{{ settings.COMMITTEE_CHAIR.email }}">{{ settings.COMMITTEE_CHAIR.email }}</a>)</li>
                {% endif %}
                <li><p class="text-danger" style="margin-bottom:0;">全て必須項目です。（該当なしの場合、姓のみ省略可能） All fields are required (except a surname, if not applicable).</p></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h6>基本情報 Personal information</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                {{ participant_form.laboratory.label_tag }} {{ participant_form.laboratory }}
            </div>
            <div class="form-group">
                {{ participant_form.grade.label_tag }} {{ participant_form.grade }}
            </div>
            <div class="form-group form-group-half">
                {{ participant_form.surname.label_tag }} {{ participant_form.surname }}
            </div>
            <div class="form-group form-group-half">
                {{ participant_form.givenname.label_tag }} {{ participant_form.givenname }}
            </div>
            <div class="clear"></div>
            <div class="form-group">
                {{ participant_form.email.label_tag }} {{ participant_form.email }}
            </div>
            <div class="form-group">
                {% if mode != "edit" %}
                {{ participant_form.password.label_tag }}
                {% endif %}
                {{ participant_form.password }}
                {% if mode != "edit" %}
                <small class="form-text text-muted">*登録情報の変更および当日の参加にログインが必要となります。 Log-in will be required for editing registration and on-site participation.</small>
                {% endif %}
            </div>
            <div class="form-group">
                {{ participant_form.is_presenter.label_tag }} {{ participant_form.is_presenter }}
            </div>
        </div>
    </div>
    <div class="card card-presentation">
        <div class="card-header">
            <h6>発表情報 Presentation information</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                {{ program_form.title.label_tag }} {{ program_form.title }}
            </div>
            <div class="form-group">
                {{ program_form.session_category.label_tag }} {{ program_form.session_category }}
                <small class="form-text text-muted">*指導教員と相談の上選択して下さい。 Please be sure to consult with your advisor before selecting.</small>
            </div>
            <div class="form-group">
                {{ program_form.require_table.label_tag }} {{ program_form.require_table }}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h6>その他 Others</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                {{ participant_form.party_attendance.label_tag }} {{ participant_form.party_attendance }}
            </div>
        </div>
    </div>
    <input name="participant" type="hidden" value="{{ participant_form.initial.id }}" />
    <input id="btn-register" class="btn btn-{{ mode|yesno:"secondary,primary" }}" type="submit" value="{{ mode|yesno:"Update,Register" }}"/>
</form>
<script>
    var togglePresentationInputs = function(){
        var val = $("select[name=is_presenter]").val();
        var $elems = $(".card-presentation").find("select,input");
        if(val=="Yes") {
            $elems.prop("disabled", false);
            $elems.prop("required", true);
        }
        else {
            $elems.prop("disabled", true);
            $elems.prop("required", false);
        }
    };
    togglePresentationInputs();
    $("select[name=is_presenter]").on("change", togglePresentationInputs);
</script>
{% endblock %}
